<td>{{first_name}}</td>
<td>{{last_name}}</td>
<td>{{address}}</td>
<td>{{department}}</td>
<td>{{section}}</td>
<td>{{branch}}</td>
<td>
  <a href="#" data-bypass="true" class="edit" data-id="{{id}}"><i class="icon-pencil"></i></a>
  <a href="#" data-bypass="true" class="delete" data-id="{{id}}"><i class="icon-remove"></i></a>
</td>
